openapi: 3.0.3
info:
  title: Bhejna API
  description: |
    Bhejna is a high-performance WhatsApp messaging proxy and delivery engine. 
    It provides a contract-first API for sending messages, tracking delivery status, and receiving inbound messages via webhooks.
  version: 1.0.0
  contact:
    name: CodeNxt Lab
    url: https://codenxtlab.com

servers:
  - url: https://api.bhejna.com
    description: Production Server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    InternalAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
        request_id:
          type: string
          example: "req_123"

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: "INVALID_PHONE"
            message:
              type: string
              example: "Recipient phone number invalid"
            retryable:
              type: boolean
              example: false
        request_id:
          type: string
          example: "req_123"

    SendMessageRequest:
      type: object
      required:
        - recipient
        - message_type
        - payload
      properties:
        recipient:
          type: string
          description: "E.164 formatted phone number (e.g., +1234567890)"
          pattern: '^\+?\d{7,15}$'
        message_type:
          type: string
          enum: [text, template, image, document, audio, video, sticker, location, contacts, interactive]
        payload:
          type: object
          description: "Meta-compatible message payload"

    SendMessageResponse:
      type: object
      properties:
        job_id:
          type: string
          example: "01ARZ3NDEKTSV4RRFFQ69G5FAV"
        status:
          type: string
          enum: [queued]

    Tenant:
      type: object
      properties:
        id:
          type: string
        waba_id:
          type: string
        phone_number_id:
          type: string
        api_key:
          type: string
        messaging_limit:
          type: integer
        quality_rating:
          type: string
        is_paused:
          type: boolean
        webhook_url:
          type: string
        created_at:
          type: string
          format: date-time

paths:
  /v1/messages:
    post:
      summary: Send a WhatsApp message
      description: Enqueues a message for delivery via WhatsApp.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: header
          name: Idempotency-Key
          schema:
            type: string
          required: false
          description: "Unique key to prevent duplicate message processing"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '202':
          description: Message accepted and queued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SendMessageResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '429':
          description: Quota exceeded

  /v1/internal/tenant:
    post:
      summary: Sync or provision a tenant
      description: Internal endpoint to provision or update tenant configuration.
      security:
        - InternalAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Tenant'
                - type: object
                  properties:
                    record:
                      $ref: '#/components/schemas/Tenant'
      responses:
        '200':
          description: Tenant synced successfully

  /v1/internal/tenants/{id}/pause:
    put:
      summary: Pause a tenant
      description: Manually pause message delivery for a tenant.
      security:
        - InternalAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Tenant paused successfully

webhooks:
  delivery_update:
    post:
      summary: Delivery status update
      description: Sent when a message status changes (sent, delivered, read, failed).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                object:
                  type: string
                entry:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Webhook received
